## Template for a single card page size
\documentclass{article}
\usepackage[paperheight=8.8cm,paperwidth=6cm,margin=0mm,top=0mm]{geometry}

## Dependencies
#include "templates/tex/snippets/deps.template"

\begin{document}
\begin{center}
  \pagestyle{empty}
  ## Main loop
  #for $card in $cards
    #if $card.name != None
      #set global $border = 0
      #set global $card = $card
      #include "templates/tex/snippets/card.template"
    #end if
  #end for
\end{center}
\end{document}
